---
import { IoIosPower } from "react-icons/io";
---

<!-- Monitor IBM( Feito por Fábio Ghizoni ) -->
<div class="flex flex-col w-150 h-150 relative justify-center items-center">
  <!-- Corpo principal do monitor -->
  <div
    class="flex flex-col w-full h-full bg-beige justify-center items-center rounded-lg"
  >
    <!-- Tela do monitor -->
    <div class="relative w-78% h-78% bg-black text-green-500 font-mono p-2 rounded overflow-hidden">
      <p>[OK] Loading: <span id="time-loading" class="text-white/80"> ...</span></p>
      <p>[TIME] Time: <span id="time" class="text-white/80"> ...</span></p>
      <p>[DATE] Date: <span id="date" class="text-white/80"> ...</span></p>
      <p>[OK] Resolution: <span id="resolution" class="text-white/80"> ...</span></p>
      <p>[URL] Url: <span id="url" class="text-white/80"> ...</span></p>
    </div>
    <div class="flex w-full absolute bottom-22 justify-between items-center">
      <button
        class="w-14 h-10 bg-beige-dark ml-11% px-1 rounded-3xl cursor-pointer transition-all ease-in-out duration-300 border-2 
          border-black/20"
      >
        <img
          alt="Logo IBM"
          src="/ibm.svg"
          loading="eager"
          class="-rotate-20 opacity-60"
        />
      </button>
      <span class="flex flex-col h-10 justify-center items-center gap-1.5 opacity-60">
        <IoIosPower color="black" className="w-6 h-6 stroke-14" />
        <span class="w-4.5 h-1 bg-black rounded-xs" />
      </span>
      <button
        class="flex w-10 h-10 bg-white/80 justify-center items-center rounded-sm cursor-pointer border-2 border-black/50"
      >
        <span class="w-11/12 h-11/12 bg-black/10 rounded-full" />
      </button>
      <span
        translate="no"
        class="inline-block text-2xl self-start opacity-60 font-serif mr-16"
      >
        G<span class="inline-block -translate-y-1">7</span
        ><span class="font-sans">0</span>
      </span>
    </div>
  </div>
  <!-- Botões de baixo do monitor -->
  <div
    class="flex w-10/12 h-1/12 bg-beige gap-1 justify-between p-1 rounded-b-md"
  >
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">⚡</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">◐</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">↕</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">↔</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">⊕</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">⊖</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">◄</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">►</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">▲</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">▼</button>
    <button class="w-full min-w-8 min-h-8 bg-white/80 rounded-xs">●</button>
  </div>
  <div class="w-5/12 h-4 bg-beige" />
  <div class="w-9/12 h-6 bg-beige rounded-full" />
</div>

<script is:inline>
  window.addEventListener("load", () => {
    const now = new Date();
    const year = now.getFullYear();
    const width = window.innerWidth;
    const height = window.innerHeight;
    const day = String(now.getDate()).padStart(2, "0");
    const hours = String(now.getHours()).padStart(2, "0");
    const month = String(now.getMonth() + 1).padStart(2, "0");
    const timeLoading = (performance.now() / 1000).toFixed(2);
    const minutes = String(now.getMinutes()).padStart(2, "0");
    const seconds = String(now.getSeconds()).padStart(2, "0");
    document.getElementById("url").textContent = `${window.location.href} ;`;
    document.getElementById("date").textContent = `${day}/${month}/${year} ;`;
    document.getElementById("time-loading").textContent = `${timeLoading}s ;`;
    document.getElementById("resolution").textContent = `${width}x${height} ;`;
    document.getElementById("time").textContent = `${hours}:${minutes}:${seconds} ;`;
  });
</script>
