---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import technologiesData, { duplicateTechnologies } from "../constants";
import cn from "../utils";

interface Props {
  class?: string;
  /** It only returns a visual list of the technologies. */
  list?: (typeof technologiesData)[number]["name"][];
}

const { list, class: className = "" } = Astro.props as Props;

const baseClass =
  "relative w-full group bg-white dark:bg-black border-y-2 dark:border-y border-gray-default/20 dark:border-white/20 py-2 overflow-hidden";
const finalClass = cn(baseClass, className);
---

{
  list ? (
    <div class="">
      <Icon name="akar-icons:node-fill" />
    </div>
  ) : (
    <div class={finalClass}>
      <div
        translate="no"
        class="animate-horz-loop group-hover:pause flex w-max items-center justify-center gap-10 will-change-transform"
      >
        {duplicateTechnologies.map((tech) => {
          return (
            <span class="text-gray-default font-cascadia-code flex items-center justify-center gap-2 text-center text-3xl font-bold text-nowrap dark:text-white">
              {tech.name}
              {tech.customIcon ? (
                <Image
                  width={50}
                  height={50}
                  src={tech.customIcon}
                  aria-label={`Icon of ${tech.name}`}
                  alt={`Icon of ${tech.name}`}
                  class={`${tech.class || ""}`}
                />
              ) : (
                <Icon
                  name={tech.icon}
                  aria-label={`Icon of ${tech.name}`}
                  class={`${tech.class || ""}`}
                />
              )}
            </span>
          );
        })}
      </div>
    </div>
  )
}
