---
import p from "../../constants/personal";
import { titleClass } from "../../pages/curriculum.astro";
---

<section class="flex flex-col gap-4">
  <h1 class={titleClass}>Resumo Profissional</h1>
  <div class="text-xl">
    {p.professionalSummary}
  </div>
  <h1 class={titleClass}>Histórico Profissional</h1>
  <div class="text-xl">
    {
      p.professionalHistory.map((history) => {
        return (
          <div class="my-8 flex justify-between">
            <h2 class="text-nowrap">{history.date}</h2>
            <div class="max-w-3xl">{history.summary}</div>
          </div>
        );
      })
    }
  </div>
</section>
