---
import Layout from "../layouts/Layout.astro";
import UnderlineButton from "../ui/UnderlineButton.astro";

const files = import.meta.glob("/src/pages/**/*.{astro,md,mdx,jsx,tsx}", {
  eager: false,
});

const normalizeRoute = (file: string): string => {
  return (
    (
      file
        .replace("/src/pages", "")
        .replace(/\/index\.(astro|md|mdx|jsx|tsx)$/, "")
        .replace(/\.(astro|md|mdx|jsx|tsx)$/, "") || "/"
    ).replace(/\/$/, "") || "/"
  );
};

const priority = (path: string) => (path.startsWith("/components") ? 1 : 0);

const routes = Object.keys(files)
  .map(normalizeRoute)
  .sort(
    (a, b) =>
      priority(a) - priority(b) || a.length - b.length || a.localeCompare(b),
  );

const description = `Page Routes | Page listing all routes available on the website for easy navigation.`;
---

<Layout
  title="Routes | Fábio Ghizoni"
  bodyClass="justify-center items-center"
  description={description}
>
  <ul translate="no" class="text-2xl text-white font-space-grotesk">
    {
      routes.map((path) => (
        <li title={path}>
          <UnderlineButton
            href={path}
            title={path}
            variant="primary"
            class="after:h-0.5 after:bg-white"
          >
            {path}
          </UnderlineButton>
        </li>
      ))
    }
  </ul>
</Layout>
