---
import p from "../constants/personal";
import Layout from "../layouts/Layout.astro";
import UnderlineButton from "../ui/UnderlineButton.astro";
import { normalizeRoute } from "../utils";

const files = import.meta.glob("/src/pages/**/*.{astro,md,mdx,jsx,tsx}", {
  eager: false,
});

const routes = Object.keys(files)
  .map(normalizeRoute)
  .filter((routes) => !routes.includes("admin"))
  .sort((a, b) => a.length - b.length || b.localeCompare(a));

const description = `Page Routes | Page listing all routes available on the website for easy navigation.`;
---

<Layout
  title=`Routes | ${p.name}`
  bodyClass="justify-center items-center"
  description={description}
>
  <ul translate="no" class="text-2xl text-white font-space-grotesk">
    {
      routes.map((path) => (
        <li title={path}>
          <UnderlineButton
            href={path}
            title={path}
            variant="primary"
            class="after:h-0.5 after:bg-white"
          >
            {path}
          </UnderlineButton>
        </li>
      ))
    }
  </ul>
</Layout>
