---
export const prerender = false;
import p from "../../constants/personal";
import Layout from "../../layouts/Layout.astro";
import UnderlineButton from "../../ui/UnderlineButton.astro";
import { normalizeRoute } from "../../utils";

const currentRoute = normalizeRoute(
  import.meta.url.replace(/^.*\/src\/pages/, ""),
);

const files = import.meta.glob("/src/pages/admin/**/*.{astro,md,mdx,jsx,tsx}", {
  eager: false,
});

const routes = [currentRoute, ...Object.keys(files).map(normalizeRoute)].sort(
  (a, b) => a.length - b.length || b.localeCompare(a),
);
---

<Layout title=`Admin | ${p.name}` bodyClass="justify-center items-center">
  <ul translate="no" class="font-space-grotesk text-2xl text-white">
    {
      routes.map((path) => (
        <li title={path}>
          <UnderlineButton
            href={path}
            title={path}
            variant="primary"
            class="after:h-0.5 after:bg-white"
          >
            {path}
          </UnderlineButton>
        </li>
      ))
    }
  </ul>
</Layout>
